html {
  background-color: #def;
  overflow-x: hidden;
  font-family: Georgia, Serif;
}

a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.02em;
}

body {
  width: 80%;
  margin: 0 auto;
}

address {
  display: inline-block;
}

footer {
  clear:both;
}

ul a {
  text-decoration: none;
  color: #056;
}
