@media only screen and (min-width: 605px) {
#main-menu li:hover {
    border-bottom: 5px solid #bcd;
}
}

/***Change for smaller screens***/
@media only screen and (max-width: 605px) {
  #main-menu{
    display:none;
  }

  #mobilemenu{
    display:inline-block;
  }

  #mainhead:hover #main-menu{
    display: block;
  }

  #main-menu ul{
    margin: 0;
    position: absolute;
    left: 57.4%;
    width: 250%;
    font-size: 1em;
  }

  #main-menu li{
    display: block;
    padding: 10px 0;
    border: none;
    font-weight: bold;
    color: #00f;
    background-color: #9ab;
    /*border-top-left-radius: 10% 10%;*/
    border-bottom-left-radius: 15% 100%;
    padding-left: 1%;
  }

  #main-menu li:hover {
      background-color: #bcd;
  }

  .facebook-button, .github-button {
    max-width: 75%;
  }

  h1{
    font-size: 1.4em;
  }

  .project-desc {
    display: none;
  }

  .project-img {
    max-width: 90%;
    float: none;
    margin: 5%;
    padding: 0;
  }
}

@media only screen and (max-width: 510px) {
  h1 {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 415px) {
  body:not(h1) {
    font-size: 0.8em;
  }

  #mobilemenu {
    padding: 1.5px 1%;
  }

  h1 {
    font-size: 1em;
  }
}
