
/******************Start Flipper******************************
| Goal is to horizontally flip the Menu button to an X.      | 
*************************************************************/

#flip-container {
  perspective: 1000;
}

#flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flipper {
  transition: 1s; /* Speed of transformation */
  transform-style: preserve-3d;

  position: relative; /* declare relative position for children */
}

.mobilemenu {
  backface-visibility: hidden; /*If visible, show a transparent backface, revealing the content backwards*/
  position: relative; /*relative to parent*/
  top: 0;
  left: 0;
}

.closemobilemenu {
  backface-visibility: hidden;
  position: absolute; /* absolutely positioned with parent .flipper */
  top: 0;
  left: 0;
}

.mobilemenu {
  z-index: 5;
  transform: rotateY(0deg); /*This is for cross-browser capabilities*/
}

.closemobilemenu {
  transform: rotateY(180deg);
}

/******End Flipper******/

/*****For desktop screens*****/

@media only screen and (min-width: 605px) {
  #main-menu li:hover {
      border-bottom: 5px solid #bcd;
      cursor: pointer;
  }
}

/****Change for smaller screens****/

@media only screen and (max-width: 605px) {
  body {
    width: 90%;
  }

/*************** Start SIDEBAR Animations *********************
| These are for when the screen is smaller, the sidebar will  |
| essentially push the document from the right. This will be  |
| achieved by toggling classes.                               |
**************************************************************/

  #all.move {
    transform: translateX(-75%);
  }

  #mini-menu.move {
    transform: translateX(-75%);
  }

/****** END Sidebar Class Animations ******/

  #mini-menu {
    display: block;
  }

  h1{
    font-size: 1.4em;
  }

  #main-menu {
    display: none;
  }

  #flip-container{
    display:inline-block;
  }

  #mini-menu ul {
    margin: 0;
    width: 250%;
    height: 100%;
  }

  #mini-menu li {
    padding: 10px 0;
    border: none;
    font-weight: bold;
    color: #00f;
    background-color: #9ab;
    padding-left: 1%;
  }

  #mini-menu li:hover {
      background-color: #bcd;
      cursor: pointer;
  }

  .project-desc {
    display: none;
  }

  .project-img {
    max-width: 90%;
    float: none;
    margin: 5%;
    padding: 0;
  }
}

@media only screen and (max-width: 430px) {
  body:not(h1) {
    font-size: 0.8em;
    width: 100%;
  }

  #flip-container {
    padding: 1.5px 1%;
    margin: 0 2%;
  }
}
